= render "layouts/header"
.main.main-a
  = render "layouts/group_sidebar"
  .user
    .user--title
      %h1 コミュニティー情報を変更
    .sign__container__field
      = form_with(model: @group, local: true, id: "form-validate") do |f|
        .field
          = f.label :コミュニティー名
          %span.required 必須
          %br/
          = f.text_field :title, class: 'validate[required]', "data-prompt-position": "inline"
        .field
          = f.label :画像
          %br/
          = f.file_field :group_image, id: "image"
        .field
          = f.label :説明
          %span.required 必須
          %br/
          = f.text_area :description, class: 'validate[required]', "data-prompt-position": "inline"
        .actions.field
          = f.submit "変更する"