= render "layouts/header"
.main.main-a
  = render "layouts/group_sidebar"
  .user
    .user--title
      %h1 コミュニティー情報
      - unless @group.user_id == current_user.id
        - if current_user.already_group?(@group)
          = button_to "脱退する", leave_group_path, method: :delete, class: "btn btn-primary"
        - else
          = button_to "参加する", join_group_path, class: "btn btn-primary"
    .user__info
      - if @group.group_image.attached? 
        = image_tag @group.group_image, class: "group_image"
      - else
        .group_header
      .user__info--detail
        .group-title
          %h1= @group.title
        .user__info--detail-item
          %h2 参加者
          %span= @group.group_users.length.to_s + "人"
        .user__info--detail-item
          %h2 作成者
          = link_to user_path(@group.user) do
            %span= @group.user.nickname
        .user__info--detail-item
          %h2 説明
          %p= simple_format(@group.description)
      