= render "layouts/header"
.main
  %ul.side
    %li
      = link_to "コミニティー", root_path, class: "side--item"
    %li.active
      = link_to "ユーザー", users_path, class: "side--item"
    %li
      = link_to "イベント", root_path, class: "side--item"
    %li
      = link_to "設定", root_path, class: "side--item"
  .users
    %h1 ユーザー
    .user__list.row
      - @users.each do |user|
        = link_to user_path(user), class: "col-lg-6" do
          .user__list__item
            .user__list__item--name
              - if user.profile.icon.attached? 
                = image_tag user.profile.icon, class: "user-icon"
              - else
                = image_tag "icon_defo.jpg", class: "user-icon"
              %h3= user.nickname
            .user__list__item--text
              %p= user.profile.text
    = paginate @users