= render "layouts/header"
.main.main-a
  = render "layouts/user_sidebar"
  .user
    .user--title
      %h1 ユーザー情報
    .user__info
      .user__info--name
        - if @user.profile.icon.attached? 
          = image_tag @user.profile.icon, class: "user-icon"
        - else
          = image_tag "icon_defo.jpg", class: "user-icon"
        %span= @user.nickname
      .user__info--detail
        .user__info--detail-item
          %h2 性別：
          %span= @user.profile.gender
        .user__info--detail-item
          %h2 生年月日：
          %span= @user.profile.birth_info
        .user__info--detail-item
          %h2 居住地：
          %span= @user.profile.residence
        .user__info--detail-item
          %h2 趣味：
          %span= @user.profile.hobby
        .user__info--detail-item
          %h2 職業：
          %sapn= @user.profile.job
        .user__info--detail-item
          %h2 自己紹介文
          %p= simple_format(@user.profile.text)
        -# .user__info--detail-item
        -#   = button_to "友達になる", root_path, class: "btn btn-primary btn-block"