.user-side
  %ul.side
    %li
      = link_to "ユーザー情報", user_path(@user), class: "side--item"
    %li
      = link_to "参加コミュニティー", join_groups_user_path(@user), class: "side--item"
    %li
      = link_to "主催コミュニティー", groups_user_path(@user), class: "side--item"
    %li
      = link_to "友達", root_path, class: "side--item"
  - if @user.id == current_user.id
    %ul.side.user-side
      %li
        = link_to "編集", edit_profiles_path, class: "side--item"
      %li
        = link_to "ブロック", root_path, class: "side--item"
      %li
        = link_to "ログアウト", destroy_user_session_path(current_user), method: :delete, class: "side--item"
      %li
        = link_to "アカウント削除", user_registration_path(current_user), method: :delete, class: "side--item"