.sign
  = link_to "lien", root_path, class: "sign-logo"
  .sign__container
    .sign__container--title
      %h2 新規登録
    .sign__container__field
      .field
        = button_to new_user_registration_path, method: :get, class: "email" do
          %span.facebook-icon
            = icon "far","envelope"
          メールアドレスで登録
      .field
        = button_to root_path, method: :get, class: "facebook" do
          %span.facebook-icon
            = icon "fab","facebook-square"
          Facebookで登録
      .field
        = button_to root_path, method: :get, class: "google" do
          %span.google-icon
            = icon "fab","google"
          Googleで登録